body{
    text-align:center;
    background-color: ;/* You many change the color as per your choice*/
}
h4{
    color:;/* You many change the color as per your choice*/
}
p{

color:;/* You many change the color as per your choice*/
}
